*
html {
    box-sizing: border-box;
}

body {
    font-family: Arial, Gadget, sans-serif;
    background-color: #F62C66;
    margin: 2rem 8rem 1rem 8rem;
}

nav {
    background-color: #CB255F;
    border-left: 4px solid white;
    border-right: 4px solid white;
}

h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
    margin: 0;
}

h2 {
    color: white;
}

h3 {
    color: #CB255F;
    text-align: end;
    margin: 0;
}

hr {
    border: 1px dashed #CB255F;
    margin: 0 0 16px 0;
}

section {
    margin-top: 2rem;
    background-color: #CB255F;
    border-radius: 4px;
    padding: 16px;
}

article {
    background-color: white;
    border-radius: 4px;
    padding: 20px 8px 16px 8px;
}

img {
    width: 100%;
}

.container-a {
    padding: 8px;
    border-radius: 4px;
    background-color: #2a7a21;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.container-a:hover {
    background-color: #F62C66;
}

.card-mario {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: #e96093;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    margin-top: 16px;
    font-weight: bold;
}


/* juego.1 */

.volver {
    /* margin-left: 40px; */
    padding: 8px;
    border-radius: 4px;
    background-color: #2a7a21;
}

.volver:hover {
    background-color: #F62C66;
}

.container-carousel {
    width: 150%;
}

.container-juego-1 {
    display: flex;
    /* margin-top: 32px; */
    margin: 32px 40px 32px 40px;
}

.flex-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.ver-galeria:hover {
    color: #2A7E21;
}

.titulo-juego-1 {
    font-size: 1.5rem;
    text-align: left;
}

.ver-galeria {
    color: rgb(43, 43, 43);
}

.container {
    width: 100%;
    margin-left: 48px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.container-version {
    display: flex;
    margin-top: 8px;
    padding: 8px 20px;
    align-items: center;
    justify-content: space-between;
}

.container-version:hover {
    cursor: pointer;
}

.border-digital {
    border: 2px solid #F62C66;
    border-radius: 8px;
}

.border-fisico {
    border: 1px solid gray;
    border-radius: 8px;
}

label, input:hover {
    cursor: pointer;
}

button {
    font-size: 1.5rem;
    background-color: #2A7E21;
    padding: 12px;
    width: 100%;
    color: white;
    border: transparent;
    border-radius: 4px;
    font-weight: bold;
}

button:hover {
    background-color: #F62C66;
    cursor: pointer;
}

.paragraph-color {
    color: rgba(255, 255, 255, 0.81);
}

/* Details */

.title-details {
    font-size: 1.5rem;
    text-align: left;
    color: white;
}

.container-details-video {
    display: flex;
    margin-top: 56px;
}

.container-details {
    width: 55%;
    margin-right: 56px;
    text-align: justify;
}

.container-video {
    width: 45%;
}

video {
    width: 100%;
}

h4 {
    color: white;
    margin-top: 0;
}

/* Gallery */

.gallery {
    text-align: center;
    background-color: #CB255F;
}

.container.gallery {
    justify-content: center;
}

.img-gallery {
   width: 45%;
   margin: 4px;
}

h2 {
    text-align: center;
}